FurClient.Windows/Service References/FurService/FurService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.studiofarma.it/WebDPC/FurRequest" elementFormDefault="qualified" targetNamespace="http://schemas.studiofarma.it/WebDPC/FurRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FurRequest">
    <xs:sequence>
      <xs:element name="CodiceAsl" nillable="true" type="xs:string" />
      <xs:element name="CodiceFarmaciaASL" nillable="true" type="xs:string" />
      <xs:element name="Mese" nillable="true" type="xs:string" />
      <xs:element name="Anno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FurRequest" nillable="true" type="tns:FurRequest" />
</xs:schema>