FurClient.Windows/Service References/FurService/FurService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.studiofarma.it/WebDPC/FurService/Ricetta" elementFormDefault="qualified" targetNamespace="http://schemas.studiofarma.it/WebDPC/FurService/Ricetta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://toscana.webdpc.it/FurService.svc?xsd=xsd5" namespace="http://schemas.studiofarma.it/WebDPC/FurService/Prodotto" />
  <xs:complexType name="ArrayOfRicetta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ricetta" nillable="true" type="tns:Ricetta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRicetta" nillable="true" type="tns:ArrayOfRicetta" />
  <xs:complexType name="Ricetta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Progressivo" type="xs:int" />
      <xs:element minOccurs="0" name="Iup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AslAssistito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceRegionale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceRicetta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSpedizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataMedico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnereFarmacia" type="xs:decimal" />
      <xs:element minOccurs="0" name="OnereGrossista" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoEsenzione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketRiscosso" type="xs:decimal" />
      <xs:element minOccurs="0" name="CodiceFiscale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Difforme" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DataNascita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sesso" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.studiofarma.it/WebDPC/FurService/Prodotto" minOccurs="0" name="Prodotti" nillable="true" type="q1:ArrayOfProdotto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ricetta" nillable="true" type="tns:Ricetta" />
</xs:schema>