FurClient.Windows/Service References/FurService/FurService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.studiofarma.it/WebDPC/FurService/Distinta" elementFormDefault="qualified" targetNamespace="http://schemas.studiofarma.it/WebDPC/FurService/Distinta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://toscana.webdpc.it/FurService.svc?xsd=xsd4" namespace="http://schemas.studiofarma.it/WebDPC/FurService/Ricetta" />
  <xs:complexType name="Distinta">
    <xs:sequence>
      <xs:element minOccurs="0" name="MeseCompetenza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnnoCompetenza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalePrezzoPubblicoProdotti" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImportoCompensoNettoIva" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImportoTicketRiscossiLordoIva" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImportoTicketRiscossiNettoIva" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotaleImponibile" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotaleIva" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotaleFatturato" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroRicette" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroProdotti" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.studiofarma.it/WebDPC/FurService/Ricetta" minOccurs="0" name="Ricette" nillable="true" type="q1:ArrayOfRicetta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Distinta" nillable="true" type="tns:Distinta" />
</xs:schema>