FurClient.Windows/Service References/FurService/FurService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.studiofarma.it/WebDPC/FurService" elementFormDefault="qualified" targetNamespace="http://schemas.studiofarma.it/WebDPC/FurService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://toscana.webdpc.it/furservice.svc?xsd=xsd2" namespace="http://schemas.studiofarma.it/WebDPC/FurRequest" />
  <xs:import schemaLocation="https://toscana.webdpc.it/furservice.svc?xsd=xsd3" namespace="http://schemas.studiofarma.it/WebDPC/FurService/Distinta" />
  <xs:element name="GetFUR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.studiofarma.it/WebDPC/FurRequest" minOccurs="0" name="Request" nillable="true" type="q1:FurRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFURResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.studiofarma.it/WebDPC/FurService/Distinta" minOccurs="0" name="GetFURResult" nillable="true" type="q2:Distinta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>