FurClient.Windows/Service References/FurService/FurService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.studiofarma.it/WebDPC/FurService/Prodotto" elementFormDefault="qualified" targetNamespace="http://schemas.studiofarma.it/WebDPC/FurService/Prodotto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProdotto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prodotto" nillable="true" type="tns:Prodotto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdotto" nillable="true" type="tns:ArrayOfProdotto" />
  <xs:complexType name="Prodotto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Minsan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantita" type="xs:int" />
      <xs:element minOccurs="0" name="PrezzoPubblico" type="xs:decimal" />
      <xs:element minOccurs="0" name="AliquotaIva" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrezzoAcquisto" type="xs:decimal" />
      <xs:element minOccurs="0" name="PercentualeFarmacia" type="xs:decimal" />
      <xs:element minOccurs="0" name="PercentualeGrossista" type="xs:decimal" />
      <xs:element minOccurs="0" name="OnereProdotto" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prodotto" nillable="true" type="tns:Prodotto" />
</xs:schema>